本サイトはRuby on Railsにて実装しています。チュートリアル終えたばかりの初学者が作成してます。<br>
<a href="https://github.com/tttkkkkk/myPG_Training">GitHubはこちらから</a><br><br>

<ul>【実装している機能】
  <li>ログイン-記事の登録・削除</li>
  <li>検索</li>
  <li>ページネーション</li>
</ul>
<ul>【今後の作業】
  <li>シンタックスハイライト</li>
</ul>
