本サイトはRuby on Railsにて実装しています。<br>
<a href="https://github.com/tttkkkkk/myPG_Words">GitHubはこちらから</a><br><br>

<ul>【実装している機能】
  <li>登録</li>
  <li>更新</li>
  <li>削除</li>
</ul>
<ul>【今後の作業】
  <li>非同期（jQuery）</li>
  <li>１語１語テストするような画面を用意したい</li>
</ul>
