<!DOCTYPE html>
<html>
 <body>
   <div class="container">

     <%= link_to "add key!", new_word_path %>

     <div class="container">
      <h3>Please check word if you know ..</h3>
      <table class="table table-striped">
        <thead>
          <th  class="col-xs-3" scope="col">KeyWord</th>
          <th  class="col-xs-2" scope="col">Button</th>
          <th  class="col-xs-1" scope="col">check</th>
        </thead>
        <tbody>
        <% if !@words.nil? %>
        <% @words.each do |f| %>
        <tr>

          <td><%= f.key %></td>

          <td><%= link_to '+', word_path(f), method: :put, class: 'btn btn-primary', data:{disable_with:'送信中..'} %></td>

          <td><%= 'ok' if f.zumi  %></td>
        </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>

   </div>
 </body>
</html>
