<li id="micropost-<%= micropost.id %>">
 <span class="content"><%= micropost.content %></span>
 <span class="content"><%= micropost.title %></span>
 <span class="content"><%= micropost.code %></span>
</li>
